.dashboardBanner{
    background: url("/Images/contactUs-dashboard.jpg") no-repeat scroll 0 0 transparent;
    height: 260px;
    width: 100%;
    margin:0 auto;
    position: relative;
    text-align:center;
    color:#fff;
 }

.contact-details, .office-details{
    border: 2px solid brown;
   /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f3e2c7+0,c19e67+50,b68d4c+51,e9d4b3+100;L+Brown+3D */
background: #f3e2c7 !important; /* Old browsers */
background: -moz-linear-gradient(top,  #f3e2c7 0%, #c19e67 50%, #b68d4c 51%, #e9d4b3 100%) !important; /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #f3e2c7 0%,#c19e67 50%,#b68d4c 51%,#e9d4b3 100%) !important; /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #f3e2c7 0%,#c19e67 50%,#b68d4c 51%,#e9d4b3 100%) !important; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3e2c7', endColorstr='#e9d4b3',GradientType=0 ); /* IE6-9 */
 }

 .contact-details label{
    color:black;
  }

  .navbar-default{
    margin-bottom:-20px !important;
  }

.submit{
  background: #000000 !important;
}
