#searchForm {

  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top:20%;

}

#searchForm input[type="text"] {
    background: url(http://www.books360degree.com/home/img/home/search.png) #19ABA7;
    background-size: 30px 30px;
    background-position: left;
    background-repeat: no-repeat;
    border: 0 none;
    font-size: 18px;
    font-style: bold;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    color: white;
    width: 400px;
    padding: 15px 15px 15px 35px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);

    -webkit-transition: all 0.7s ease 0s;
    -moz-transition: all 0.7s ease 0s;
    -o-transition: all 0.7s ease 0s;
    transition: all 0.7s ease 0s;
    }

    ::-webkit-input-placeholder { /* Chrome */
      color: white;
    };
    :-ms-input-placeholder { /* IE 10+ */
      color: white;
    };
    ::-moz-placeholder { /* Firefox 19+ */
      color: white;
      opacity: 1;
    };

#searchForm input[type="text"]:focus {
    width: 550px;
    }
