#searchForm {

  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top:20%;

}

#searchForm input[type="text"] {
    background: url(http://www.iconsdb.com/icons/preview/dark-gray/active-search-xxl.png) #444;
    background-size: 30px 30px;
    background-position: left;
    background-repeat: no-repeat;
    border: 0 none;
    font-size: 18px;
    font-style: bold;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    color: #15173E;
    width: 400px;
    padding: 15px 15px 15px 35px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2) inset;
    -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2) inset;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2) inset;
    -webkit-transition: all 0.7s ease 0s;
    -moz-transition: all 0.7s ease 0s;
    -o-transition: all 0.7s ease 0s;
    transition: all 0.7s ease 0s;
    }

#searchForm input[type="text"]:focus {
    width: 550px;
    }
