/* CSS declarations go here */
/* createEvent.html page - CSS for colorgraph in the form */
.colorgraph {
  height: 5px;
  border-top: 0;
  background: #c4e17f;
  border-radius: 5px;
  background-image: -webkit-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: -moz-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: -o-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: linear-gradient(to right, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
}
/* eventDetail.html page - Background settings for whole page*/
.eventDetailCss {
  background-image: url("/Images/Backgrounds/bg5.jpg");

}

.eDetail{
  color: white;
  margin-left: 150px;
  font-weight: bold;
  font-family: Monaco;
}


/* aboutus.html page - Background settings for whole page*/
.aboutus {
  font-weight: bold;
  background-image: url("/Images/Backgrounds/bg2.jpg");
}

/* Events Main page */
.eventsMainCSS {
  background-image: url("/Images/Backgrounds/bg9.jpg");
  text-align: center;
}

.marqBox {
  background: white;
  border:none;
  border-radius: 40px 10px;
  width: 500px;
  height: 300px;
}

.myeve {
  background: white;
  border:none;
  border-radius: 40px 10px;
  width: 300px;
  height: 120px;
  color: #030805;
}

.creve {
  background: white;
  border:none;
  border-radius: 40px 10px;
  width: 300px;
  height: 120px;
  color: #030805;
}

/* My Events Main page */
.myeventsMainCSS {
  background-image: url("/Images/Backgrounds/bg8.jpg");
  text-align: center;
}
