/* CSS declarations go here */
/* createEvent.html page - CSS for colorgraph in the form */
.colorgraph {
  height: 5px;
  border-top: 0;
  background: #c4e17f;
  border-radius: 5px;
  background-image: -webkit-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: -moz-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: -o-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: linear-gradient(to right, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
}
/* eventDetail.html page - Background settings for whole page*/
.eventDetailCss {
  background-image: url("/Images/Backgrounds/bg5.jpg");

}

.eDetail{
  color: white;
  margin-left: 150px;
  font-weight: bold;
  font-family: Monaco;
}


/* aboutus.html page - Background settings for whole page*/
.aboutus {
  font-weight: bold;
  background-image: url("/Images/Backgrounds/bg2.jpg");
}

/* Events Main page */
.eventsMainCSS {
  background-image: url("/Images/Backgrounds/bg9.jpg");
  text-align: center;
}

.marqBox {
  background: white;
  border:none;
  border-radius: 40px 10px;
  width: 500px;
  height: 300px;
}

.myeve {
  background: white;
  border:none;
  border-radius: 40px 10px;
  width: 300px;
  height: 120px;
  color: #030805;
}

.creve {
  background: white;
  border:none;
  border-radius: 40px 10px;
  width: 300px;
  height: 120px;
  color: #030805;
}

/* My Events Main page */
.myeventsMainCSS {
  background-image: url("/Images/Backgrounds/bg8.jpg");
  text-align: center;
}


/*  During.html css -------------------------START------------------------- */

/* Carousel base class */
.carousel {
  height: 500px;
  margin-bottom: 60px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 500px;
  background-color: #777;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 500px;
}

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 20px;
  text-align: center;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px;
}

/*  During.html css ---------------END----------------------------------- */

/*css for chat START*/
.sendButton:hover{
  color: #a3d063;
  background-color: #fff;
}
.sendButton{
  width: 140px;
height: 50px;
display: inline-block;
border-radius: 50px;
background-color: #a3d063;
border: 2px solid #a3d063;
color: #fff;
cursor: pointer;
transition: all 0.2s linear;
text-align: center;
float: right;
}
.sendButton .text {
  font-size: 18px;
  font-weight: 300;
  display: inline-block;
  line-height: 48px;
}

.message_input_wrapper {
 display: inline-block;
 height: 50px;
 border-radius: 25px;
 border: 1px solid #bcbdc0;
 width: calc(100% - 160px);
 position: relative;
 padding: 0 20px;
}

.message_input_wrapper .message_input {
 border: none;
 height: 100%;
 box-sizing: border-box;
 width: calc(100% - 40px);
 position: absolute;
 outline-width: 0;
 color: gray;
}

.chat_window {
  position: absolute;
  width: calc(100% - 20px);
  max-width: 800px;
  height: 500px;
  border-radius: 10px;
  background-color: #fff;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);

  overflow: hidden;
}

.top_menu {
  background-color: #fff;
  width: 100%;
  padding: 20px 0 15px;
  box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
}
.top_menu .title {
  text-align: center;
  color: #bcbdc0;
  font-size: 20px;
}

.chat_display{
  color: #72A0C1;
  text-align: left;
  font-size: 15px;
}

.icon {
  background-color: transparent;
  margin-top: 10px;
}
